<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="headerStrip" style="height: 50px">
    <ion-title class="titleHeader">
      Profile
    </ion-title>
    <ion-button (click)="signOut()" class="logoutButton">
      Logout
    </ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-title style="margin: 16px; font-size: x-large; text-align: center;">
    Contact Info:
  </ion-title>
  <!--Form that contains the users contact information so that they can view and change it as they see fit-->
  <form [formGroup]="info" (ngSubmit)="save()" *ngIf="editing">
    <ion-item fill="solid" class="ion-margin">
      <ion-input type="text" placeholder="Name" value="{{name}}" formControlName="name" disabled="{{!edit}}">
      </ion-input>
    </ion-item>
    <ion-item fill="solid" class="ion-margin">
      <ion-input type="email" placeholder="Email" value="{{email}}" formControlName="email" disabled="{{!edit}}">
      </ion-input>
    </ion-item>
    <ion-item fill="solid" class="ion-margin">
      <ion-input type="text" placeholder="Phone Number" value="{{phone}}" formControlName="pnumber" disabled="{{!edit}}">
      </ion-input>
    </ion-item>
    <ion-item fill="solid" class="ion-margin">
      <ion-input type="text" placeholder="Address" value="{{address}}" formControlName="address" disabled="{{!edit}}">
      </ion-input>
    </ion-item>
    <ion-item fill="solid" class="ion-margin">
      <ion-input type="text" placeholder="Company" value="{{company}}" formControlName="company" disabled="{{!edit}}">
      </ion-input>
    </ion-item>
    
    <!--Edit button toggles edit so that the fields become editable-->
    <ion-button color="tertiary" expand="full" type="button" (click)="toggleEdit()" disabled={{edit}}> Edit </ion-button>
    <ion-button color="success" expand="full" type="submit" [disabled]="!info.valid || edit == false"> Save </ion-button>


  </form>
  
  

</ion-content>
