ion-card {
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    
}
p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

ion-title {
    text-align: center;
    font-size: 36;
    font-weight: 700;
    font-size: 22px;
    
}