ion-card {
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    
}
p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.headerStrip {
    flex: 1;
    flex-direction: row;
    text-align: center;
}

.titleHeader {
    font-size: 28px;
    width: 50%;
}

.logoutButton {
    width: 30%;
    height: 40px;
    flex-direction: row;
}