<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-margin">
    Contacts Information:
  </ion-title>

  <ion-item *ngFor="let con of contacts; index as i">
    <ion-card>
      <ion-card-content>
        <ion-title>{{con.name}}</ion-title>
        <p>Email: {{con.email}}</p>
        <p>Phone: {{con.phone}}</p>
        <p>Address: {{con.address}}</p>
      </ion-card-content>
      <ion-button expand="block" type="button" (click)="share()">
         Share 
        <ion-icon slot="end" name="share"></ion-icon>
      </ion-button>
      <ion-button expand="block" type="button" color="danger" (click)="delete({i})"> 
        Delete 
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-card>

  </ion-item>

  <ion-toolbar>

  </ion-toolbar>



</ion-content>