<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" type="button" (click)="startScanner()" class="ion-margin"> Scan </ion-button>
  <ion-button expand="full" type="button" (click)="toggleShare()" class="ion-margin"> Share Contact Info </ion-button>

  <ion-card class="ion-text-center" *ngIf="sharing">
    <ion-card-content>
      <qrcode
        [qrdata]="qrcodecontent"
        [width]="256"
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>

    <ion-label class="ion-text-wrap"> Scanned Result: {{scannedText}}</ion-label>

    <ion-item *ngFor="let detail of details">
      <p>{{detail}}</p>
    </ion-item>
  </ion-card>
  

  
</ion-content>