<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Contact Info Exchange
    </ion-title>
    <ion-button> 
      Logout
      <icon></icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" type="button" (click)="startScanner()" class="ion-margin"> Scan </ion-button>
  <ion-button expand="full" type="button" (click)="toggleShare()" class="ion-margin"> Share Contact Info </ion-button>

  <ion-card class="ion-text-center" *ngIf="sharing">
    <ion-card-content>
      <qrcode
        [qrdata]="qrcodecontent"
        [width]="256"
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>
  

  
</ion-content>